@page "/column-groups"
@inject Northwind.INorthwindService northwindService

<div class="row-layout column-groups-container">
    <div class="column-layout group">
        <h5 class="h5">
            Column Groups
        </h5>
        <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="IgniteUI.Blazor.Controls.DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" class="ig-typography grid" headersand-footers-scope>
            <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
            <IgbColumnGroup VisibleWhenCollapsed="false" Header="Employee" Collapsible="true">
                
                <IgbColumn VisibleWhenCollapsed="true" Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="true" Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>

                <IgbColumn VisibleWhenCollapsed="false"  Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                
                
                <IgbColumn VisibleWhenCollapsed="false" Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumnGroup Header="Important Dates" Collapsible="true">
                    <IgbColumn VisibleWhenCollapsed="false" Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Width="185px" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                    <IgbColumn VisibleWhenCollapsed="false" Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Width="170px" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                </IgbColumnGroup>
            </IgbColumnGroup>
            <IgbColumnGroup Header="Address Details" Collapsible="true" Expanded="false" Width="175px">
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" HasSummary="true" Selectable="false" Width="175px"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="true" Field="Address.Region" DataType="GridColumnDataType.String" Header="address country" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
                <IgbColumn VisibleWhenCollapsed="false" Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
            </IgbColumnGroup>
            <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        </IgbGrid>
    </div>
</div>

@code {
    private List<Northwind.EmployeesType> northwindEmployees = new();

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await this.northwindService.GetEmployees() ?? northwindEmployees;
    }
}
