@page "/column-interactions"
@inject Northwind.INorthwindService northwindService

<div class="row-layout column-interactions-container">
    <div class="column-layout group">
        <h5 class="h5">
            Column Interactions
        </h5>
        <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="IgniteUI.Blazor.Controls.DisplayDensity.Cosy" Moving="true" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" class="ig-typography grid" column-interactions-scope>

            <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="Employee ID" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="Last Name" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="First Name" Sortable="true" Resizable="true" Filterable="false" Selectable="false"></IgbColumn>
            <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="Title" Width="260px" Pinned="true" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="Title" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="Birth Date" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="Hire Date" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="Street" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="City" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="Region" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="Postal Code" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="Country" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="Phone" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="Manager ID" Sortable="true" Resizable="true" Selectable="false" Groupable="true"></IgbColumn>
            <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="Notes" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="Avatar Url" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
        </IgbGrid>
    </div>
</div>

@code {
    private List<Northwind.EmployeesType> northwindEmployees = new();

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await this.northwindService.GetEmployees() ?? northwindEmployees;
    }
}
