@page "/remote-data"
@inject Northwind.INorthwindService northwindService

<div class="row-layout remote-data-container">
    <div class="column-layout group">
        <h5 class="h5">
            Remote Data
        </h5>
		<IgbGrid Data="@(RemoteJson.From("https://northwindcloud.azurewebsites.net/api/products"))"
                 ColumnInitScript="WebGridCustomSummary"
                 PrimaryKey="productID" 
                AutoGenerate="false" 
		        class="ig-typography grid" remote-data-scope>

            <IgbColumn Field="productID" DataType="GridColumnDataType.Number" Header="productID" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="productName" DataType="GridColumnDataType.String" Header="productName" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="supplierID" DataType="GridColumnDataType.Number" Header="supplierID" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="categoryID" DataType="GridColumnDataType.Number" Header="categoryID" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="quantityPerUnit" DataType="GridColumnDataType.String" Header="quantityPerUnit" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="unitPrice" DataType="GridColumnDataType.Number" Header="unitPrice" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="unitsInStock" Width="200px" HasSummary="true" DataType="GridColumnDataType.Number" Header="unitsInStock" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="unitsOnOrder" DataType="GridColumnDataType.Number" Header="unitsOnOrder" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="reorderLevel" DataType="GridColumnDataType.Number" Header="reorderLevel" Sortable="true" Selectable="false"  ></IgbColumn>
            <IgbColumn Field="discontinued" DataType="GridColumnDataType.Boolean" Header="discontinued" Sortable="true" Selectable="false"  ></IgbColumn>

        </IgbGrid>
    </div>
</div>

@code {

}
